@media screen and (min-width: 1080px) {
    header{
        nav{
            .navegation{
                div{
                .count{
                    left: 25px;
                    font-size: 1.3rem;
                }
                }
            }
        }
        .list-nav{
            ul{
                gap: 5vw;
            }
        }
        .cart-products{
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            top: 0;
            right: 0;
            min-width: 550px;
            height: 100vh;
            padding: 0 4px;
            border-radius: .5em 0 0 .5em ;
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(55.5px);
            box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
            background: #1e1e1e;
            overflow-y: scroll;
            overscroll-behavior-y: contain;
            scroll-snap-type: y proximity;
            z-index: 1;
            .header-cart{
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                height: 6vh;
                border-radius: .2em;
                background-color: #80808000;
                box-shadow: 0 2px 2px #121212;
                h2{
                    width: 100%;
                    font-size: 1.6rem;
                    color: white;
                    text-align: center;
                    text-shadow: 0 0 2px #c2c2c2;
                }
                span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 10%;
                    display: flex;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    border-radius: .5em;
                    background-image: url('../assets/vectors/close-red.svg');
                    @include backgroundImage();
                }
                span:hover{
                    background-color: white;
                    box-shadow: 0 0 2px #c2c2c2;
                }
            }
            .products{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                width: 100%;
                min-height: 65vh;
                overflow-y: scroll;
                overscroll-behavior-y: contain;
                scroll-snap-type: y proximity;
                .product{
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    width: 400px;
                    height: 100px;
                    padding: 8px 4px;
                    border-radius: .5em;
                    border: 1px solid #c2c2c2e8;
                    background-color: #c2c2c2;
                    box-shadow: -2px 2px 2px #ffffff;
                    .product-img{
                        width: 20%;
                        text-align: center;
                        img{
                            width: 50px;
                            height: 80px;
                        }
                    } 
                    .product-info{
                        width: 70%;
                        p{
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        h3{
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: #1e1e1e;
                            max-height: 40px;
                        }
                    }
                    .product-quantity{
                        position: absolute;
                        top: 28.5px;
                        left: 160px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        
                        h2{
                            font-size: 1.4rem;
                            font-weight: 600;
                        }
                        p{
                            width: 25px;
                            height: 22px;
                            text-align: center;
                            font-size: 1.4rem;
                            font-weight: 700;
                        }
                    }
                    .delete-car{
                        width: 10%;
                        height: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span{
                            display: inline-block;
                            position: static;
                            width: 25px;
                            height: 30px;
                            border-radius: 1.5rem;
                            cursor: pointer;
                            background-image: url('../assets/vectors/bote-azul.svg');
                            @include backgroundImage();
                        } 
                    }
                }
            }
            ::-webkit-scrollbar {
                width: 20px; 
                background-color: #f0f0f0;
                border-radius: .5em;
                
              }
              
              ::-webkit-scrollbar-thumb {
                background-color: #0b3850;
                border-radius: .5em;
              }
            .resume{
                position: absolute;
                bottom: 0;
                display: flex;
                flex-direction: column;
                gap: 6px;
                width: 100%;
                padding: 6px 16px;
                margin-top: 24px;
                border-radius: 4px;
                background-color: #c2c2c2;
                border: 1px solid #c2c2c2e5;
                box-shadow: 0 0 2px rgba(255, 255, 255, 0.250);
                h3{
                    width: 50%;
                    font-size: 1.7rem;
                }
                p{
                    text-align: end;
                    width: 50%;
                    font-size: 1.6rem;
                    font-weight: 600;
                }
                .subtotal, .delivery, .total{
                    display: flex;
                }
                .total{
                    border-top: 1px solid #1e1e1e;
                    margin-bottom: 16px;
                }
                button{
                    width: 250px;
                    height: 32px;
                    margin: 0 auto;
                    border-radius: .5em;
                    border: none;
                    font-size: 1.4rem;
                    color: white;
                    cursor: pointer;
                    background-color: $--secondary-color;
                }
            }
        }
    }

    main{
        .carrusel{
            img{
                height: 445px;
            }
        }

        .eslogan{
            h1{
                font-size: 2.2rem;
                font-weight: 700;
            }
        }

        .cards-category{
            height: 300px;
            gap: 32px;
            .card{
                width: 300px;
                height: 280px;
                .image{
                    img{
                        width: 140px;
                        height: 130px;
                    }    
                }
                .info{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        font-size: 2.6rem;
                    }    
                }
                
            }
        }

        .products{
            #inicio{
                height: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 24px;
                h2{
                    font-size: 3rem;
                }  
                .store{
                    width: 100%;
                    height: auto;
                    .store-item{
                        gap: 12px;
                        min-width: 280px;
                        height: 340px;
                    }
                }
                .controls{
                    display: flex;
                    top: 40vh;
                }
                .right{
                    
                }
                .left{

                }
            }
        }
    }
}