footer{
    box-shadow: 0 -2px 5px #808080e1;
    nav{
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 100%;
        padding: 4px;
        background: linear-gradient(360deg, #0b3850, #0b3850f3);
        .social{
            width: 100%;
            text-align: center;
            img{
                width: 30px;
                height: 30px;
                cursor: pointer;
                margin: 0 4px;
            }
            img:hover{
                border-radius: .2em;
                background-image: radial-gradient(#a00a3a 58%, transparent 10%, transparent 40%);
            }
            .whatsapp{
                width: 28px;
                height: 28px;
                padding-bottom: 2px;
            }
        }
        .footer-nav{
            width: 100%;
            ul{
                display: flex;
                justify-content: center;
                gap: 8px;
                height: 3vh;
                font-size: 1.3rem;
                font-weight: 600;
                color: white;
                list-style: none;
                li:hover{
                    //margin-bottom: 20px;
                    font-size: 1.6rem;
                    font-weight: 800;
                    color: #a00a3a;
                    text-shadow: 0 0 5px #dfdfdf;
                    cursor: pointer;
                }
            }
        }
        .navs-container{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 12px;
            .container{
                position: fixed;
                bottom: 0;
                z-index: 1;
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;
                height: 80vh;
                border-radius: .5em;
                background: #1e1e1e;
                border: 1px solid #121212;
                //backdrop-filter: blur(6px);
                //-webkit-backdrop-filter: blur(55.5px);
                //box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
                .header{
                    width: 100%;
                    height: 8%;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 12px;
                    background-color: rgba(128, 128, 128, 0);
                    box-shadow: 0 2px 2px #121212;
                    h2{
                        font-size: 1.8rem;
                        text-transform: initial;
                        color: white;
                    }
                    span{
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                        background-image: url('../assets/vectors/close-red.svg');
                        @include backgroundImage();
                    }  
                }
                
                div{
                    display: flex;
                    //align-items: center;
                    gap: 4px;
                    img{
                        width: 20px;
                        height: 24px;
                    }
                    h2{
                        font-size: 1.6rem;
                        font-weight: 500;
                        letter-spacing: .5px;
                        color: white;
                        text-transform: initial;
                    }
                    
                }
            }
            .contact{
                display: none;
                .main{
                    height: 32%;
                    flex-direction: column;
                    justify-content: space-evenly;
                    padding: 0 12px;
                }
                .map{
                    width: 100%;
                    height: 60%;
                    iframe{
                        width: 100%;
                    }
                }
            }
            .about{
                display: none;
                //overflow-y: scroll;
                //overscroll-behavior-y: contain;
                //scroll-snap-type: y proximity;
                .main{
                    height: 80%;
                    flex-direction: column;
                    gap: 32px;
                    padding: 0 6px;
                    div{
                        flex-direction: column;
                        text-align: center;
                        color: white;
                        h2{
                            font-size: 1.8rem;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        p{
                            font-size: 1.6rem;
                            color: #c2c2c2;
                        }
                    
                    }    
                }
                .logo{
                    width: 100%;
                    height: 12%;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 45px;
                        height: 45px;
                    }
                }
            }
            .politics{
                display: none;
                .main{
                    flex-direction: column;
                    gap: 16px;
                    padding: 4px 6px;
                    color: white;
                    overflow-y: scroll;
                    overscroll-behavior-y: contain;
                    scroll-snap-type: y proximity;
                    div{
                        flex-direction: column;
                        text-align: center;
                        h2{
                            font-size: 1.8rem;
                        }
                        p{
                            font-size: 1.6rem;
                            color: #c2c2c2;
                        }
                    }    
                }
            }
            .warranty{
                display: none;
                .main{
                    flex-direction: column;
                    gap: 16px;
                    padding: 0 6px;
                    text-align: center;
                    overflow-y: scroll;
                    overscroll-behavior-y: contain;
                    scroll-snap-type: y proximity;
                    p{
                        font-size: 1.6rem;
                        color: #c2c2c2;   
                    }
                }
            }
        }
        .footer-logo{
            width: 100%;
            text-align: center;
            padding-top: 4px;
            border-top: 1px solid white;
            img{
                width: 50px;
                height: 35px;
            }
            p{
                font-size: 1.3rem;
                color: #808080;
            }
        }
    }
}